// bower:scss
// endbower

body {
    color: #333333;
    min-width: 1020px;
}

.wrapper {
    margin: 0px auto; 
    margin-right: auto; 
    margin-left: auto;
}

.container {
    margin: 0px auto; 
    margin-right: auto; 
    margin-left: auto;
}

.sidebar-container {
    margin-left: 10px;
}

.topbar {
    height: 50px;
    width: 1300px;
}

.header {
    width: 100%
}
.maincontent {
    width: 1020px;
    margin-right: auto;
    margin-left: auto;
}

.sidebar {
    display: inline-block;
    float: left;
    width: 25%;
    height: 800px;
    background: #fff;
}

.mainbar {
    display: inline-block;
    float: left;
    margin-left: 10px;
    width: 70%;
}

.mainbar-image {
    margin-top: 20px;
}

.avatar {
    background-size: cover; 
    border-radius: 7px; 
    background-image: url("https://avatars.githubusercontent.com/u/6868568?");
    width: 230px; 
    height: 230px;
    background-size:100%;
    margin-top: 20px;
}

.main-repo {
    display: inline-block;
    margin-left: 10px;
}

.description {

}

.book-image {
    display: inline-block;
    position: absolute;
    margin-right: -10px;
    width: 35px;
    height: 45px;
}

.repo-list {
    display: inline-block;
    height: 32px;
    width: 35px;
    margin-bottom: 35px;
}

.repo-name {
    display: inline-block;
    margin-right: 260px;
    font-family: Helvetica;
    color: #4183c4;
    text-decoration: none;
    font-size: 20px;
    line-height: 32px; 
    font-weight: bold;
    border-top: 1px solid #cacaca;
    margin-left: 65px;
}

.thetitle {
    color: #4183c4;
    text-decoration: none;

    &:hover {
    text-decoration: underline;
}}

.thefollowers {
    color: #4183c4;
    text-decoration: none;

    &:hover {
    text-decoration: underline;
}}
.repo-language {
    display: inline-block;
    width: 35px;
    font-size: 13px;
    color: #333333;
    margin-right: 25px;
}

.stargazers {
    display: inline-block;
    color: #333333;
    float: right;
    font-size: 11px;
    font-weight: bold;
    font-family: Helvetica;
    margin-left: 1px;
    margin-top: 33px;
}

.star-image {
    width: 20px;
    height: 20px; 
    display: inline-block;
    margin-left: 15px;
    margin-top: 28px;
    float: right;
}

.forks {
    display: inline-block;
    color: #333333;
    float: right;
    font-size: 11px;
    font-weight: bold;
    font-family: Helvetica;
    margin-left: 1px;
    margin-top: 33px;
}

.fork-image {
    width: 20px;
    height: 20px; 
    display: inline-block;
    margin-left: 15px;
    margin-top: 28px;
    float: right;
}

.repo-description {
    display: inline-block;
    font-size: 13px;
    color: #333333;
    margin-left: 65px;
}

.repo-date {
    display: inline-block;
    width: 685px;
    font-size: 13px;
    color: #999999;
    margin-left: 65px;
}

.footer {
    display: inline-block;
    height: 100px;
    width: 100%;
    background: #cacaca;
}

.fullname { 
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
    font-family: Helvetica;
    margin-top: 10px;
}

.username { 
    font-size: 19px;
    line-height: 24px;
    font-weight: 300;
    font-family: Helvetica;
    margin-bottom: 15px;
    color: #cacaca;
}

///// personal-info is for the company, location and date on the sidebar /////
.personal-info {
    font-family: Helvetica;
    color: #333333;
    padding: 4px 0 2px 4px;
    text-overflow: ellipsis;
    font-size: 14px;  
}

.company-image {
    width: 20px; 
    height: 20px;
    margin-bottom: -5px;
}

.created-image {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

.location-image {
    width: 20px; 
    height: 20px; 
    margin-bottom: -5px;
}

.sidebar-user-statistics {
    font-family: Helvetica;
    padding: 4px 0 2px 4px;
    text-overflow: ellipsis;
    font-size: 14px;  
    border-top: 1px solid #cacaca;
    display: inline-block;
    width: 230px;

}

.sidebar-info {
    font-family: Helvetica;
    margin-right: 50px;
    text-overflow: ellipsis;
    font-size: 14px;  
    border-top: 1px solid #cacaca;
    padding-top: 17px;
    margin-bottom: 25px;
}

.followers {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.starred {
    display: inline-block;
    float: left;
    margin-left: 35px;
    margin-top: 10px;
}

.following {
    display: inline-block;
    float: left;
    margin-left: 35px;
    margin-top: 10px;
}

.sidebar-user-number {
    text-align: center;
    font-size: 27px;
    font-family: Helvetica;
    font-weight: bold;
}

.sidebar-user-text {
    font-size:11px;
    color: #cacaca;
    text-align: center;
    font-family: Helvetica;
}

.header {
    height: 40px;
    width: 100%;
    background-color: #f3f3f3;
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    background-repeat: repeat-x;
    text-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;

    & .cat {
        width: 330px;
        height: 35px;
        padding-top: 4px;
        position: absolute;
    }

    & .tabs {
        padding: 5px;
        font-size: 13px;
        font-weight: bold;
        line-height: 40px;
        text-decoration: none;
        color: #333333;
        transition: color 0.1s ease-in;
        font-family: Helvetica;
        padding-bottom: 10px;

        &:hover {color: #4183c4;}
    }
}
.main-header {
    margin-left: -10px;
    width: 1000px;
    margin: 0 auto;
}

.listtabs {
    margin-left: 340px;
}
